/*
dla potomnych, co będą to czytać
niektóre style są tutaj, niektóre informacje są w
pliku fetchData.js, w funkcjach drawGraph1 i drawGraph2
więc jak co, to szukajcie i tam.
*/
.graph1{
    display: none;
    margin: 5px auto;
    margin-top: 10px;
    width: 40%;
    background-color: #2e1f1f;
    box-shadow: 10px 10px 15px #2e1f1f;
}
.graph2{
    display: none;
    margin: 5px auto;
    width: 70%;
    background-color: #2e1f1f;
    box-shadow: 10px 10px 15px #2e1f1f;
    margin-bottom: 30px;
}
select {
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 5px;
    display: none;
    margin: 0 auto;
    background-color: #232121;
    border: 2px solid;
    border-color: antiquewhite;
    box-shadow: #232121;
    color: antiquewhite; 
    font-size: 1.2em;
    font-family: Sofia;   
    }